/* 
*************
* Header    *
*************
*/

.back-first {
    background-color: #2D2D2D;
}
/* Nav */

.nav-text a{
    padding: 10px;
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.nav-img-1{
    max-width: 100%;
    height: auto;
    padding: 5px;
}

/* Body */

.body-img2 {
    height: auto;
    max-width: 100%;

}

.body-text {
    /* margin-right: -100px; */
    color: white;
    font-family: 'Montserrat', sans-serif;
 
}

.body-text span{
    color: #F0B90B;
    font-weight: bolder;
}

.body-text2 p{
    background-color: #F0B90B;
    color:#2D2D2D;
    width: 100px;
    text-align: center;
    border-radius: 100px;
    
}

.body-text h2{
    font-size: 40px;
}


/* 
*************
* Main      *
*************
*/

/* Section 1 */

.section-1{
    margin: 100px 0;
}

.section-1 h2 {
    text-align: center;
    margin-bottom: 40px;
}

.section1-text{
    font-family: 'Montserrat', sans-serif;
}

.section1-img {
    max-width: 100%;
    height: auto;
}

/* Section 2 */

.back-third {
    background: linear-gradient(266.79deg, #9F19AB -17.69%, #5F27BD 50.63%, #3D065F 127.99%);
}

.section2-text{
    font-family: 'Open Sans', sans-serif;
    color:white;
}

.section2-text h2{
    color: #F0B90B;
    font-size: 50px;
}

.section2-img{
    max-width: 100%;
    height: auto;
    position: relative;
    margin-top: -30px;
    padding: 10px;
}

/* Section 3 */

.section-3{
    margin: 80px 0 50px 0;
}

.section-3-text {
    font-family: 'Montserrat', sans-serif;
}

.section3-img{
    max-width: 100%;
    height: auto;
}

/* Section 4 */

.back-four{
    background-color: #CCD3FF;
}

.card-body h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}

.card-body p{
    font-family: 'Montserrat', sans-serif;
}

.back-four h2{
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;

}

/* 
*************
* Footer    *
*************
*/

footer{
    height: auto;
}
.footer-size{
    padding-top: 30px;
    padding-bottom: 30px;
}
.footer-list ul{
    list-style: none;
}

.footer-list ul li{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

.footer-list ul li:first-child{
    color: #F0B90B;
    font-weight: bold;
}

.footer-text {
    color: #F0B90B;
    text-align: center;
}


.footer-icon a {
    color: #F0B90B;
    text-align: left;
    font-size: 30px;
}

.footer-list-2{
    list-style: none;
}

.footer-size p{
    font-family: 'Montserrat', sans-serif;
}